@model Coffe_Gourment.Models.Producto
@{
    ViewBag.Title = "Index";
}

<h1 style="color:red">PatStore</h1>

<link rel="stylesheet" href="~/Content/header.css" />

<h style="color:white">
    Somos una tienda virtual de elementos electrónicos, con dedicación exclusiva a
    la experiencia de compra de nuestros clientes. Tenemos los mejores precios y
    productos exclusivos para nuestros clientes.
    Nos dedicamos a crear la experiencia de compra y con esto logramos la mayor
    publicidad, que nuestros clientes nos recomienden entre sus conocidos.
</h>

