@{
    ViewBag.Title = "Contactanos";
}
<h2 style="color:white">@ViewBag.Title.</h2>




<address style="color:white">
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Patstore_503SV@Gmail.com</a><br />
    <strong>Teléfono:</strong> <a>+503 6030-8022</a>
</address>
<address style="color:white">
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

